
$active-color: rgba(255,255,255, .8);
$active-bg: var(--theme);

$bg1: rgba(255,255,255, .1);
$bg2: rgba(255,255,255, .2);
$bg3: rgba(255,255,255, .3);

$color1: rgba(255,255,255,.9);
$color2: rgba(255,255,255,.6);
$color3: rgba(255,255,255,.5);

.menu {
  .menu-item {                        // 一级菜单
    background-color: 	$bg1;
    color: $color1;

    &.active,
    &:hover {
      background-color: $active-bg;
      color: $active-color;
    }

    .menu-item {                      // 二级菜单
      background-color: $bg2;
      color: $color2;

      &.active,
      &:hover {
        background-color: $active-bg;
        color: $active-color;
      }

      .menu-item {                    // 三级菜单
        background-color: $bg3;
        color: $color3;

        &.active,
        &:hover {
          background-color: $active-bg;
          color: $active-color;
        }
      }
    }
  }
}
