
.ani-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #8f94fb, #4e54c8);
  ul {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    li {
      position: absolute;
      display: block;
      background-color: #ffffff33;
      width: .2rem;
      height: .2rem;
      list-style: none;
      border-radius: 10%;
      animation: ani 25s linear infinite;
      bottom: -1.5rem;

      &:nth-child(1) {
        left: 10%;
        width: .8rem;
        height: .8rem;
        animation-delay: 0s;
      }

      &:nth-child(2) {
        left: 20%;
        width: .3rem;
        height: .3rem;
        animation-delay: 2s;
        animation-duration: 12s;
      }

      &:nth-child(3) {
        left: 30%;
        width: .4rem;
        height: .4rem;
        animation-delay: 3s;
      }

      &:nth-child(4) {
        left: 40%;
        width: .6rem;
        height: .6rem;
        animation-delay: 0s;
        animation-duration: 18s;
      }
      
      &:nth-child(5) {
        left: 50%;
        width: .2rem;
        height: .2rem;
        animation-delay: 2s;
        animation-duration: 12s;
      }

      &:nth-child(6) {
        left: 60%;
        width: .7rem;
        height: .7rem;
        animation-delay: 0s;
      }

      &:nth-child(7) {
        left: 70%;
        width: .2rem;
        height: .2rem;
        animation-delay: 2s;
        animation-duration: 12s;
      }

      &:nth-child(8) {
        left: 80%;
        width: .5rem;
        height: .5rem;
        animation-delay: 3s;
      }

      &:nth-child(9) {
        left: 90%;
        width: .4rem;
        height: .4rem;
        animation-delay: 0s;
        animation-duration: 18s;
      }
    }
  }
}

@keyframes ani {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  to {
    transform: translateY(-10rem) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
