
@mixin set($property, $value) {
    #{$property}: $value;
}

*,
*::before,
*::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Sizing */
.w-auto {
    @include set(width, auto);
}

.w-full {
    @include set(width, 100%);
}

.w-screen {
    @include set(width, 100vw);
}

.w-min {
    @include set(width, min-content);
}

.w-max {
    @include set(width, max-content);
}

.w-fit {
    @include set(width, fix-content);
}

.w-min-auto {
    @include set(min-width, auto);
}

.w-min-full {
    @include set(min-width, 100%);
}

.w-min-screen {
    @include set(min-width, 100vw);
}

.w-min-content {
    @include set(min-width, min-content)
}

.w-min-content-max {
    @include set(min-width, max-content);
}

.w-min-fix {
    @include set(min-width, fix-content);
}

.w-max-auto {
    @include set(max-width, auto);
}

.w-max-full {
    @include set(max-width, 100%);
}

.w-max-screen {
    @include set(max-width, 100vw);
}

.w-max-content {
    @include set(max-width, min-content);
}

.w-max-content-

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}


.pl-1 {
    padding-left: .1rem;
}

.pl-2 {
    padding-left: .2rem;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}



.list-style-none {
    list-style: none;
}

ul {
    li + li {
        margin-top: .5em;
    }
}


.small {
    font-size: .16rem;
}

.medium {
    font-size: .18rem;
}

.large {
    font-size: .2rem;
}

.extreme {
    font-size: .24rem;
}

/* 流光特效 */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.streamer {
    position: relative;
    padding: 5px;
    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 105%;
        width: 105%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        padding: 3px;
        border-radius: 5px;
        background-image: conic-gradient(from var(--angle), transparent 0deg, blue 90deg, transparent 180deg, red 270deg, transparent 360deg);
        animation: rotate 3s linear infinite;
    }

    &::before {
        filter: blur(.2em);
        opacity: 0.5;
    }

    &::after {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}