

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.block {
    display: block;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}


.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}
