@use 'themes';

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hack:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'rbt-b';
    src: url('@/assets/fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'rbt-m';
    src: url('@/assets/fonts/RobotoMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rbt-r';
    src: url('@/assets/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.rbt-b { font-family: 'rbt-b'; }
.rbt-m { font-family: 'rbt-m'; }
.rbt-r { font-family: 'rbt-r'; }

/* 启用连字 */
.code-block {
    font-variant-ligatures: common-ligatures;
    /* 或更具体的: font-feature-settings: "calt", "liga"; */
}

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font-family: 'rbt-m', 'JetBrains Mono', 'Source Code Pro', 'Cascadia Code', 'Hack', 'Courier New', Courier, monospace;
    --font-size-title: 1.4rem;
    --font-size-subtitle: 1.2rem;
}

// 禁用默认主题切换动画
::view-transition-new(root),
::view-transition-old(root) {
    animation: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    font-size: 100px; /* 1rem = 100px */
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
    
}

#app {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: var(--background-color);
    font-size: .14rem;
}


a {
    font-weight: 500;
    color: var(--fu-text-color);
    text-decoration: inherit;
    font-size: var(--font-size-link);
    &:hover {
        color: var(--fu-border-color);
    }
}

.h-full {
    height: 100%;
}


.grid {
    display: grid;
}

$grid-number: 2, 3, 4, 5, 6;

@each $num in $grid-number {
    .grid-row-#{$num} {
        grid-template-rows: repeat($num, 1fr);
    }

    .grid-col-#{$num} {
        grid-template-columns: repeat($num, 1fr);
    }
}


.fu-note {
    & + & {
        margin-top: .2rem;
    }
}

h1 {
    font-size: .24rem;
}

h2 {
    font-size: .2rem;
}

h3 {
    font-size: .18rem;
}

h4 {
    font-size: .16rem;
}
